body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f3c8; 
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
html{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.cabecera{
    width: 100%;
    height: 150px;
    background-image: url("../images/Biblioteca.jpg");
}
.contenedor{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 80%;
    max-width: 800px;
    padding: 15px;
    background-color: #fff;
    border-radius: 20px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
   /* text-align: center;*/
}

.header {
    display: flex;
    justify-content: center;
    margin: 20px;
    
}
#libros{
    width: 70px;
    height: 70px;
}
#titulo{
    width: 350px;
    height: 60px;
}
h1 {
    color: #333;
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #0056b3;
}

.button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #93573d;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #7a4430;
}

p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
}
