<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OntoFlow</title>
    <link rel="stylesheet" href="../static/css/start.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <img src="../static/images/titulo.png" alt="ONTOFLOW" class="titulo">
        </header>
        <main class="content">
            <p class="descripcion">
                El lugar perfecto para encontrar libros o apuntes requeridos para el estudio de las carreras o afines al área de Sistemas e Informática.
            </p>
            <img src="../static/images/gato.gif" alt="Gato en laptop" class="gato">
        </main>
        <footer class="footer">
            <button class="boton">Empezar a buscar</button>
        </footer>
    </div>
</body>
</html>
